#outerDiv{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

#innerDiv1,
#innerDiv2,
#innerDiv3{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;

    border-radius: 100%;

}

#innerDiv1{
    background-color: red;
}

#innerDiv2{
    background-color: yellow;
}

#innerDiv3{
    background-color:green;
}